In [1]:
import pandas as pd
import numpy as np
import json
import joblib

In [10]:
# Open Files

with open('LinearRegression.pkl', 'rb') as file_1:
   regression_model = joblib.load(file_1)

with open('scaling_mod.pkl', 'rb') as file_2:
   scaling_model = joblib.load(file_2)

with open('ordinal_mod.pkl', 'rb') as file_3:
   ordinal_model = joblib.load(file_3)

with open('OHE_mod.pkl', 'rb') as file_4:
    ohe_model = joblib.load(file_4)

with open('num_features.txt', 'r') as file_5:
    numcol = json.load(file_5)

with open('cat_features.txt', 'r') as file_6:
    catcol = json.load(file_6)

In [12]:
# Creating new DataFrame for the Model Inference
new_data = pd.DataFrame({
    'distance': [5.3, 5.2, 4.6],
    'product_id': ['lyft_lux','lyft_plus','lyft_luxsuv'],
    'surge_multiplier': [2.0, 1.5, 2.5],
})
new_data

   distance   product_id  surge_multiplier
0       5.3     lyft_lux               2.0
1       5.2    lyft_plus               1.5
2       4.6  lyft_luxsuv               2.5

In [20]:
catcol,numcol

(['product_id', 'surge_multiplier'], ['distance'])

OHE Handling

In [19]:
# Transforming new_data in OHE
cat_ohe = pd.DataFrame(ohe_model.transform(new_data[['product_id']]))
cat_ohe.columns = ohe_model.categories_[0]
cat_ohe

,55c66225-fbe7-4fd5-9072-eab1ece5e23e,6c84fd89-3f11-4782-9b50-97c468b19529,6d318bcc-22a3-4af6-bddd-b409bfce1546,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,997acbb5-e102-41e1-b155-9df7de0a73f2,9a0e7b09-b92b-4c41-9779-2ad22b4d779d,lyft,lyft_line,lyft_lux,lyft_luxsuv,lyft_plus,lyft_premier
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [21]:
# Transforming new_data in Ordinal
cat_ord = pd.DataFrame(ordinal_model.transform(new_data[['surge_multiplier']]))
cat_ord.columns = ['surge_multiplier']
cat_ord

   surge_multiplier
0               4.0
1               2.0
2               5.0

In [25]:
# Transforming new_data in Scaling
num_scaled = pd.DataFrame(scaling_model.transform(new_data[['distance']]))
num_scaled.columns = ['distance']
num_scaled

   distance
0  3.001095
1  2.906091
2  2.336067

In [24]:
# Concatting all attributes
data_predict = pd.concat([cat_ohe,cat_ord,num_scaled], axis=1)
data_predict

,55c66225-fbe7-4fd5-9072-eab1ece5e23e,6c84fd89-3f11-4782-9b50-97c468b19529,6d318bcc-22a3-4af6-bddd-b409bfce1546,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,997acbb5-e102-41e1-b155-9df7de0a73f2,9a0e7b09-b92b-4c41-9779-2ad22b4d779d,lyft,lyft_line,lyft_lux,lyft_luxsuv,lyft_plus,lyft_premier,surge_multiplier,distance
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,4.0,3.001095
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,2.906091
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0,2.336067

In [27]:
# Resorting the DataFrame to be same as the X Train
popped = data_predict.pop('surge_multiplier')
data_predict.insert(0,'surge_multiplier',popped)

In [28]:
# Predict price model

model = regression_model.predict(data_predict)
print(model)

[49.17599207 31.85909811 61.25001485]

This is the price prediction based on the given data inference